modules = ["nodejs-24", "python-3.11", "node", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5002
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 19273
externalPort = 3000

[[ports]]
localPort = 19274
externalPort = 3001

[[ports]]
localPort = 21268
externalPort = 4200

[nix]
channel = "stable-25_05"
packages = ["eas-cli"]

[userenv]

[userenv.shared]
JWT_SECRET = "YRUJlQiplXuPCG9WyEAMZVsvj5tCNM5Vi0hA20fAZKSZ8JVxlTp9KN3I2BMH3KYw"
FB_DEFAULT_COOKIE = "dpr=2.5408029556274414;sb=YTrtadtBb63K3ZM_CKLCJqNQ;datr=3LgEate1zwBNapmEQjOeo8Gq;c_user=61586553186172;ps_l=1;ps_n=1;xs=18%3AbrCYmNjNsL4kCA%3A2%3A1778694560%3A-1%3A-1%3A%3AAcxwlWVvnqCfV10g0z0CKNTvVdIrLRTFSHcsYBIhIw;wd=990x1920;fr=1euFrKt4FNO65VDnx.AWeqXJC15UXO0Hgp0Pg9hgtQ8KDrdreFUNhH8e-uIZwMitqYrL0.BqCG3M..AAA.0.0.BqCG3R.AWerpRrxdgnhFmy3KF-1IenLcp8;"
